extends layout.pug

block content
    h1 Sign Up 
    form(action='/signup', method='post')
        p 
            | Please select a username, and a password. Don't worry about any password rules here, we dont really care much about protecting your information - so 
            code helloworld
            |  is just fine by us!
        section 
            label(for='first') First Name 
            input(name='first' required='')
        section
            label(for='last') Last Name
            input(name='last' required='')
        hr
        section 
            label(for='username') Username
            input(name='username' required='')
        section 
            label(for='password') Password 
            input(name='password' type='password' required='')
        section 
            label(for='password2') Confirm Password 
            input(name='password2' type='password' required='')
        hr
        button(type='submit') Sign up
        if message 
            p #{message} 
        a(href='/') Nevermind 
        section 
            p 
                | Already have an account?
                a(href='/login')  Sign in here!